
html, body {
    height: 100%;
    font-family: sans-serif;
    background-color: #090909;
    box-sizing: border-box;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cv-container {
    background-color: rgba(37, 91, 91, 0.18);
    width: 60%;
    height: 100%;
    border-radius: 20px;
    color: white;
    padding: 50px;
}

h2 {
    display: flex;
    justify-content: center;
}

.cv-image {
    width: 250px;
    height: 300px;
    margin-right: 20px;
}

.summary-container {
    padding-top: 25px;
}

.btn {
    font-size: 24px;
    position: relative;
    height: 50px;
    width: 400px;
    border-radius: 5px;
    cursor: pointer;
}
